.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 10px;
}
.left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon {
  width: 24px;
  height: 24px;
  color: #111827;
}
.title {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
}
