html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #f7f7f9;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
}

#root {
  width: 100%;
  min-height: 100dvh;
}

* {
  box-sizing: border-box;
}
